@CHARSET "UTF-8";
/* stylový soubor CSS - prezentace Cesta na sever*/
body, p, h, img {
	margin: 0;
	padding: 0;
}

.format1 {
	color: red;
	font-style: italic;
	font-size: 12pt;
	font-family: Verdana;
}

h1 {
	color: darkgreen;
	font-size: 20pt;
	text-align: center;
	font-family: Verdana;
}

p {
	color: #808080 #808080;
	font-size: 11pt;
	text-align: justify;;
}

img {
	width:;
	padding:;
	border: solid black 1px;
	margin: 10px 20px;
	/* 1.cislo je X-line = vrch a spodek; 2.cislo je Y-line = vrch a spodek  ...nebo
	margin:5 9 11 12 -> jako hodinove rucicky, zaciname nahore a pak doprava ... */
}

#hlavicka {
	background: lightblue;
	color: black;
	width: 800px;
	height: 100px;
	width: 800px;
	position: absolute;
	top: 0px;
	left: 0px;
}

#levy {
	background: pink;
	color: black;
	width: 100px;
	height: 600px;
	position: absolute;
	top: 100px;
	left: 0px;
}

#pata {
	background: silver;
	color: black;
	width: 800px;
	height: 100px;
	position: absolute;
	top: 700px;
	left: 0px;
}

#obsah {
	background: yellow;
	color: black;
	width: 700px;
	height: 700px;
	position: absolute;
	top: 100px;
	left: 100px;
}